/***** GENERAL *****/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@500&display=swap');
:root{
    --color1: #ecf0f9;
    --color2: #ff646c;
    --color3: #637b97;
    --heading1:  'Roboto', sans-serif;
    --body: 'Montserrat', sans-serif;
}

@keyframes errorMsg {
    from {background-color: white;}
    to {background-color: var(--color2);}
  }

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading1), sans-serif;
}

p, a, li, button, label{
    font-family: var(--body) ,sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1em;
}

/****** HEADER *****/
#main-header{
    grid-row: 1;
    grid-column: 1 / 13;
    height: 100vh;
    background: url("img/img-3.jpg") no-repeat;
    background-size: cover;
    background-color: var(--color1);
    grid-template-rows: 1fr 1fr;
}

#header-text{
    grid-row: 1;
    grid-column: 3 / 11;
    margin-top: 300px;
    font-size: 3em;
}

#header-text h1{
    color:  black;
}

#search-area{
    grid-row: 2;
    grid-column: 3 / 11;
    height: 8em;
    background-color: var(--color1);
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

#search-area form{
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
}

i{
    position: absolute;
    margin-left: 1em;
}

#searchbar{
    height: 50px;
    width: 350px;
    padding-left: 3em;
    border: none;
}

#searchbar:focus{
    outline: 1px solid white;
    background-color: var(--color1);
    color: var(--color3);
}

#radio{
    display: flex;
    align-items: center;
    justify-content: center;
}

#radio input[type=radio]{
    margin: 0 1em;
}

#submit{
    width: 150px;
    height: 50px;
    background-color: var(--color3);
    color: var(--color1);
    border: none;
    letter-spacing: 0.1em;
    cursor: pointer;
}

/****** MAIN *****/
main{
    grid-row: 2;
    grid-column:3 / 11;
}

#city-title, #attraction-title{
    margin-top: 1em;
    color: var(--color2);
}

#error-section{
    width: 100%;
    padding: 1em;
    background-color: var(--color2);
    color: white;
    display: none;
    text-align: center;
    animation-name: errorMsg;
    animation-duration: 1s;
}

#weather-section{
    display: none;
}

.weather-article{
    width: 100%;
    height: 200px;
    margin: 2em 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.weather-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.weather-info i{
    grid-column: 1 / 2;
    font-size: 4em;
}

.weather-info p, h2{
    grid-column: 2 / 3;
}

#attraction-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    margin: 1.5em 0;
}

.attraction-article{
    border: 1px solid var(--color1);
    border-radius: 0.5em;
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.attraction-article div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    height: 100%;
    text-align: center;
}

.attraction-article h2{
    text-align: center;
}

#attraction-section img{
    background: black;
    width: 100px;
    border-radius: 0.5em;
    margin: 1em 0;
}

/****** FOOTER*****/
#main-footer{
    grid-row: 3;
    grid-column: 1 / 13;
    height: 200px;
    background-color: var(--color2);
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: var(--color1);
}

